# Виртуальные окружения
venv/
.venv/

# Кэши и временные файлы
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDE и редакторы
.idea/
.vscode/
*.swp
*.swo

# Системы контроля версий
.git/
.svn/
.hg/
CVS/

# Локальные данные
media/
static/
logs/
db.sqlite3
*.db

# Окружение и конфигурации
.env
.env.*
.python-version

# Фронтенд
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
.ruff_cache/

# ОС‑специфичные
.DS_Store
Thumbs.db

# Тестирование
.coverage
.coverage.*
.pytest_cache/
htmlcov/
coverage.xml

# Прочие временные файлы
*.log
*.tmp
*.bak
