{% load i18n %}

{% block subject %}
{% blocktrans %}Восстановление пароля на {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% if user.first_name %}
  <h1>Здравствуйте, {{ user.first_name }}!</h1>
{% else %}
  <h1>Здравствуйте, {{ user.get_username }}!</h1>
{% endif %}

{% block text_body %}
{% blocktrans %}Мы получили запрос на восстановление пароля к учетной записи на сайте {{ site_name }}, привязанной к вашей почте.{% endblocktrans %}

{% trans "Чтобы завершить процедуру, пройдите по ссылке:" %}

<a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a>

{% trans "Если вы не обращались к процедуре восстановления пароля, просто проигнорируйте это сообщение." %}

{% trans "С уважением," %}
{% blocktrans %}Команда {{ site_name }}{% endblocktrans %}
{{ domain }}
{{ site_email }}
{% endblock text_body %}

{% block html_body %}
  <div style="width: 600px; margin: 40px auto; background-color: #f9f9f9; padding: 20px; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #337ab7; font-size: 24px; margin-bottom: 20px;">Восстановление пароля на {{ site_name }}</h1>
    {% if user.first_name %}
      <p style="font-size: 18px; margin-bottom: 20px;">Здравствуйте, {{ user.first_name }}!</p>
    {% else %}
      <p style="font-size: 18px; margin-bottom: 20px;">Здравствуйте, {{ user.get_username }}!</p>
    {% endif %}
    <p style="font-size: 16px; margin-bottom: 20px;">Мы получили запрос на восстановление пароля к учетной записи на сайте {{ site_name }}, привязанной к вашей почте.</p>
    <p style="font-size: 16px; margin-bottom: 20px;">Чтобы завершить процедуру, <a href="{{ protocol }}://{{ domain }}/{{ url|safe }}" style="color: #337ab7; text-decoration: none;">пройдите по ссылке.</a></p>
    <p style="font-size: 16px; margin-bottom: 20px;">Если вы не обращались к процедуре восстановления пароля, просто проигнорируйте это сообщение.</p>
    <p style="font-size: 16px; margin-bottom: 20px;">С уважением,<br>
      Команда {{ site_name }}<br>
      {{ domain }}<br>
      <a href="mailto:{{ site_email }}" style="color: #337ab7; text-decoration: none;">{{ site_email }}</a>
    </p>
  </div>
{% endblock html_body %}
